'.source.js, .source.jsx, .source.ts, .source.tsx':

  "import styled from 'styled-components'":
    'prefix': 'imsc'
    'body': "import styled from 'styled-components';"

  "import styled from 'styled-components/native'":
    'prefix': 'imscn'
    'body': "import styled from 'styled-components/native';"

  "import { createGlobalStyle } from 'styled-components'":
    'prefix': 'imscg'
    'body': "import { createGlobalStyle } from 'styled-components';"

  "import { css } from 'styled-components'":
    'prefix': 'imsccss'
    'body': "import { css } from 'styled-components';"

  "import { withTheme } from 'styled-components'":
    'prefix': 'imsct'
    'body': "import { withTheme } from 'styled-components';"

  'Styled-Component':
    'prefix': 'sc'
    'body': """
              const Styled${1} = styled.${2}`
                ${3}
              `;
            """

  'Export styled-component':
    'prefix': 'exsc'
    'body': """
              export const Styled${1} = styled.${2}`
                ${3}
              `;
            """

  'Styled-Component from existing component':
    'prefix': 'scc'
    'body': """
              const Styled${1} = styled(${1})`
                ${2}
              `;
            """

  'Export styled-component from existing component':
    'prefix': 'exscc'
    'body': """
              export const Styled${1} = styled(${1})`
                ${2}
              `;
            """

  'Styled-Components file':
    'prefix': 'scf'
    'body': """
              import styled from 'styled-components';

              const Styled${1} = styled.${2}`
                ${3}
              `;

              export default ${1};
            """

  'ThemeProvider':
    'prefix': 'ThemeProvider'
    'body': """
              <ThemeProvider theme={${1}}>
                ${2}
              </ThemeProvider>
            """

  'styled-component theme':
    'prefix': 'sct'
    'body': """
              // Define what props.theme will look like
              const theme = {
                ${1}: '${2}'
              };
            """

  'createGlobalStyle':
    'prefix': 'scg'
    'body': """
              createGlobalStyle`
                ${1}
              `;
            """

  'createGlobalStyle':
    'prefix': 'scg'
    'body': """
              const Global${1} = createGlobalStyle`
                ${2}
              `;
            """

  'Export createGlobalStyle':
    'prefix': 'exscg'
    'body': """
              export const Global${1} = createGlobalStyle`
                ${2}
              `;
            """

  'Styled-Component with attributes':
    'prefix': 'scattrs'
    'body': """
              const Styled${1} = styled.${2}.attrs({
                ${3}: ${4}
              })`
                ${5}
              `;
            """

  'Export styled-component with attributes':
    'prefix': 'exscattrs'
    'body': """
              export const Styled${1} = styled.${2}.attrs({
                ${3}: ${4}
              })`
                ${5}
              `;
            """
    
   'Use props.theme inside styled-component':
    'prefix': 'scpt'
    'body': """
              ${({ theme }) => theme.${1}};
            """

  'Use props inside styled-component':
    'prefix': 'scp'
    'body': """
              ${props => props.${1}};
            """
